footer {
    color: var(--lightBlue);
    background-color: var(--black);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}

.social-network {
    display: flex;
}

li {
    list-style: none;
}

.logos {
    width: 5rem;
}