header {
    background-image: url(../assets/channel_banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--lightBlue);

    height: 238px;
    padding: 25px;

    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media only screen and (max-width: 500px) {
    header {
    background-image: none;
    background-color: var(--black);

    height: 238px;
    padding: 25px;
    }

    nav {
        justify-content: center;
    }

    #Contact {
        display: none;
    }
}