main {
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Identity {
    flex-direction: row;
    gap: 5rem;
}

#Description {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ProfilPicture {
    width: 15rem;
}

#top-animations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    width: 100%;
}
article {
    width: 40%;
}

.video-container {
    width: 100%;
    aspect-ratio: 16/9;
}
.video-container iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 762px) {
    #Identity {
        flex-direction: column;
    }
    #Description {
        width: 90%;
        align-items: center;
    }
    article {
        width: 90%;
    }
}